<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /onboarding
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /onboarding/api/index.php [L]
</IfModule>